body {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif !important;
}
#offers {
  margin: 0%;
  padding: 0%;
}

/* Naviation Bar */
#offers #navbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
  background-color: rgb(51, 65, 79);
  justify-content: left;
  position: fixed;
  z-index: 1000;
}
/* Naviation Bar: Logo,texting and Image */
#offers #logo {
  margin: 0 20px;
}
#offers #logo img {
  width: 120px;
  height: 90px;
  border: none;
  margin: 0 20px;
}

#offers #navbar #nav_ul {
  display: flex;
  justify-content: center;
  margin-left: 70vw;
  height: 100%;
  position: relative;
}
#offers #navbar #nav_ul li {
  list-style: none;
  font-size: 18px;
  margin: 5px 8px;
}
#offers #navbar #nav_ul li a {
  display: block;
  border-radius: 20px;
  text-decoration: none;
  color: aliceblue;
  margin: 15px 0;
  float: right;
}
#offers #navbar #nav_ul li a:hover {
  color: chartreuse;
}
.fa-caret-down {
  margin-left: 8px;
  cursor: pointer;
  color: white;
}

#dropdown_5 {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 160px;
  margin-top: 1px;
  display: none;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.drop_d_box_user_hide {
  display: none;
}

#dropdown_5 .drop_d_links button {
  width: 100%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  background: none;
  cursor: pointer;
}
.last_bttn button {
  border: none;
}
#dropdown_5 .drop_d_links button:hover {
  /* font-size: 14px; */
  background-color: yellowgreen;
}
.arrowmiddle55 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 130px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}
.us_name {
  margin-top: 20px;
  display: flex;
  color: white;
}
#avtar_logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 0px;
}
/*Hover Effect on navbar-SUBSCRIBE */
.subscr-logo1 {
  background-image: url(../img/sub_logo.png);
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  margin: auto;
}
.subscr_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 260px;
  padding: 10px;
  top: 80%;
  border-radius: 4px;
  right: 350px;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#sub_det_item .arrowmiddle {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 121px;
  top: 50px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
#sub_det_item {
  display: none;
}

.subscr_logo {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.subscr_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.subscr_btn {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(88, 180, 85);
  border: none;
  font-size: 12px;
  padding: 7px;
  color: white;
  text-align: center;
}
#navbar .item:hover > .details {
  display: block;
}

/*Hover Effect on navbar-AMIGO */
.amigo-logo2 {
  background-image: url(../img/amigo_logo.png);
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  margin: auto;
}
.amigo_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 260px;
  padding: 10px;
  top: 80%;
  border-radius: 4px;
  right: 270px;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.amigo_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.arrowmiddle2 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 220px;
  top: 50px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.details2 {
  display: none;
}
#navbar .item:hover > .details2 {
  display: block;
}

/*Hover Effect on navbar-ZMS */
.zms-logo3 {
  background-image: url(../img/zms_logo.png);
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  margin: 2px auto;
}
.zms_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 230px;
  padding: 10px;
  top: 80%;
  border-radius: 4px;
  right: 160px;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.zms_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.arrowmiddle3 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 280px;
  top: 50px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.details3 {
  display: none;
}
#navbar .item:hover > .details3 {
  display: block;
}

/*Hover Effect on navbar-MOB APP */
.details4 {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 170px;
  height: 90px;
  top: 80%;
  border-radius: 4px;
  right: 130px;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.mob_det {
  display: none;
}
#navbar .item:hover > .mob_det {
  display: block;
}
.arrowmiddle4 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 380px;
  top: 50px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.mob_anc {
  width: 100%;
  height: 50%;
  font-size: 18px;
}
.mob_anc .mob1,
.mob_anc .mob2 {
  display: flex;
  color: rgb(83, 83, 83);
  margin: 0%;
  box-sizing: border-box;
}

.mob_anc .mob2 {
  border-top: 1px solid rgb(161, 160, 160);
  display: flex;
  position: absolute;
  top: 55%;
  width: 100%;
  padding: 3px 0px 0 0;
}
.mob1 img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 8px;
}
.mob2 img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-left: 5px;
}

/* POP UP ThINGS for sign up*/
#pop1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
  display: none;
  z-index: 1000;
}
.log_in_cont {
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 10px;
  display: flex;
  position: relative;
}
#zoomPromo1,
#zoomPromo2,
#zoomPromo3 {
  width: 320px;
  height: 450px;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  border: 2px solid gray;
  box-shadow: 0px 2px 2px 2px grey;
  color: gray;
  margin-left: 50px;
}
/* #zoomPromo3 {
  margin-right: 50px;
} */
#zoomPromo1 h2,
#zoomPromo2 h2,
#zoomPromo3 h2 {
  color: black;
}
#zoomPromo1 .zc_1 img,
#zoomPromo2 .zc_1 img,
#zoomPromo3 .zc_1 img {
  width: 100px;
  height: 100px;
}
.log_in_cont .log_right {
  width: 450px;
  text-align: center;
}
.log_r_top {
  margin-top: 20px;
}
.log_r_top_cont {
  height: 70px;
  margin-left: 5px;
  border-bottom: 1px solid rgb(255, 253, 253);
  box-shadow: 0 1px 0px 0 rgb(211, 210, 210);
}
/* .log_r_top_cont_face {
  background-color: blue;
  margin: 20px auto 20px;
  width: 300px;
  height: 20px;
  padding: 12px 0;
  color: white;
}
.log_r_top_cont a {
  text-decoration: none;
  color: white;
}
.log_r_top_cont_gmail {
  background-color: red;
  margin: 20px auto 20px;
  width: 300px;
  color: white;
  height: 20px;
  padding: 12px 0;
}
.log_r_top_cont a {
  text-decoration: none;
  color: white;
} */
.log_r_bot {
  height: 190px;
}
.btn_log_sub {
  background: url(../img/log_sub_btn.png) no-repeat top left / cover;
  width: 70px;
  height: 70px;
  border: none;
  margin-top: 20px;
}
.log_input_email_mob {
  margin-top: 20px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid grey;
}
.close1 {
  position: absolute;
  font-size: 35px;
  font-weight: 600;
  top: 0;
  right: 14px;
  transform: rotate(45deg);
  cursor: pointer;
}

/*pop up auto slider things*/
.slider {
  width: 400px;
}
.slides {
  overflow: hidden;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 100%;
  transition: 1s;
}

/*CSS for automatic navigation  */
.navigation_auto {
  position: absolute;
  display: flex;
  width: 400px;
  justify-content: center;
}
.navigation_auto div {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 400px;
  background-color: rgb(207, 206, 206);
}
.navigation_auto div:not(:last-child) {
  margin-right: 5px;
}
#radio1:checked ~ .navigation_auto .auto-btn1 {
  background-color: rgb(31, 230, 31);
}
#radio2:checked ~ .navigation_auto .auto-btn2 {
  background-color: rgb(31, 230, 31);
}
#radio3:checked ~ .navigation_auto .auto-btn3 {
  background-color: rgb(31, 230, 31);
}

.sign_up_botr_box1 {
  width: 300px;
  height: 380px;
  margin: 10px auto;
  background-color: rgb(233, 233, 233);
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}

.sign_up_botr_box1 form input {
  display: block;
  margin: 20px 0;
  width: 220px;
  height: 30px;
  border-radius: 3px;
}
.deta_add_btn {
  width: 230px;
  height: 30px;
  background: greenyellow;
  border: 2px solid greenyellow;
  border-radius: 5px;
}
/*LOGIN POP UP BY TWO*/
#pop2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
  display: none;
  z-index: 1000;
}
.log_in_cont2 {
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 10px;
  display: flex;
  position: relative;
}

#zoomPromo12,
#zoomPromo22,
#zoomPromo32 {
  width: 320px;
  height: 450px;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  border: 2px solid gray;
  box-shadow: 0px 2px 2px 2px grey;
  color: gray;
  margin-left: 50px;
}

#zoomPromo12 h2,
#zoomPromo22 h2,
#zoomPromo32 h2 {
  color: black;
}
#zoomPromo12 .zc_12 img,
#zoomPromo22 .zc_12 img,
#zoomPromo32 .zc_12 img {
  width: 100px;
  height: 100px;
}
.log_in_cont2 .log_right2 {
  width: 450px;
  text-align: center;
}
.log_r_top2 {
  margin-top: 20px;
}
.log_r_top_cont2 {
  height: 70px;
  margin-left: 5px;
  border-bottom: 1px solid rgb(255, 253, 253);
  box-shadow: 0 1px 0px 0 rgb(211, 210, 210);
}
/* .log_r_top_cont_face2 {
  background-color: blue;
  margin: 20px auto 20px;
  width: 300px;
  height: 20px;
  padding: 12px 0;
  color: white;
}
.log_r_top_cont2 a {
  text-decoration: none;
  color: white;
}
.log_r_top_cont_gmail2 {
  background-color: red;
  margin: 20px auto 20px;
  width: 300px;
  color: white;
  height: 20px;
  padding: 12px 0;
}
.log_r_top_cont2 a {
  text-decoration: none;
  color: white;
} */
.log_r_bot2 {
  height: 190px;
}
.btn_log_sub2 {
  background: url(../img/log_sub_btn.png) no-repeat top left / cover;
  width: 70px;
  height: 70px;
  border: none;
  margin-top: 20px;
}
.log_input_email_mob2 {
  margin-top: 20px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid grey;
}
.close12 {
  position: absolute;
  font-size: 35px;
  font-weight: 600;
  top: 0;
  right: 14px;
  transform: rotate(45deg);
  cursor: pointer;
}

/*pop up auto slider things*/
.slider22 {
  width: 400px;
}
.slides22 {
  overflow: hidden;
  display: flex;
}
.slides22 input {
  display: none;
}
.slide22 {
  width: 100%;
  transition: 1s;
}

/*CSS for automatic navigation  */
.navigation_auto2 {
  position: absolute;
  display: flex;
  width: 400px;
  justify-content: center;
}
.navigation_auto2 div {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 400px;
  background-color: rgb(207, 206, 206);
}
.navigation_auto2 div:not(:last-child) {
  margin-right: 5px;
}
#radio12:checked ~ .navigation_auto2 .auto-btn12 {
  background-color: rgb(31, 230, 31);
}
#radio22:checked ~ .navigation_auto2 .auto-btn22 {
  background-color: rgb(31, 230, 31);
}
#radio32:checked ~ .navigation_auto2 .auto-btn32 {
  background-color: rgb(31, 230, 31);
}

.login_botr_box1 {
  width: 300px;
  height: 200px;
  margin: 70px auto;
  background-color: rgb(233, 233, 233);
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}

.login_botr_box1 form input {
  display: block;
  margin: 20px 0;
  width: 220px;
  height: 30px;
  border-radius: 3px;
}
.deta_add_btn {
  width: 230px;
  height: 30px;
  background: greenyellow;
  border: 2px solid greenyellow;
  border-radius: 5px;
}
/* Search bar */
/* <---------------------------------------------------> */
* {
  font-family: Open Sans;
  color: #323a44;
}
.gridBook {
  display: grid;
  width: 100%;
  grid-template-columns: 23% 77%;
  grid-template-rows: 200px;
  padding-top: 70px;
}
.smallBox {
  height: 370px;
  background: #efefef;
}
.bigBox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 22% 53%;
  background-color: white;
  height: 100%;
}
.flex {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.tick {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #70ad4d;
}
.tickMark {
  width: 2px;
  height: 7px;
  padding: 2px;
  margin-left: 6px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}

.flex h4 {
  font-size: 12px;
}

.cityBox {
  width: 85%;
  height: 100px;
  border: 1px solid rgb(247, 235, 213);
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.cityBox h6 {
  margin-left: 20px;
}
.diffCity {
  display: flex;
  width: 85%;
  height: 40px;
  margin: auto;
  border: 1px solid rgb(247, 235, 213);
  background-color: white;
}
.diffCity h3 {
  font-size: 14px;
}
.diffCity input {
  margin: auto;
}
.smallBox hr {
  color: gray;
  margin-top: 20px;
}
.kmBox {
  width: 130px;
  height: 100px;
  margin-left: 20px;
  background-color: white;
}
.kmBox h5 {
  color: gray;
  padding: 5px 20px;
  font-size: 12px;
}
.kmBox h6 {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
.smallItem {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 5px;
}
.rightArrow {
  display: inline-block;
  margin-top: 27px;
  width: 5px;
  height: 5px;
  border-right: 1.5px solid rgba(0, 0, 0, 0.54);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.54);
  transform: rotate(-45deg);
  margin-left: 10px;
}

.sort {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.sort button {
  margin-top: 12px;
  display: inline-block;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 3px 10px;
  font-size: 11px;
  color: #9b9b9b;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}

/* <------Car List---------> */
#carListGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
}
.carComponent {
  display: flex;
  flex-direction: column;
}
#detailGrid {
  display: grid;
  grid-template-columns: 20% 60% 15%;
  grid-template-rows: 150px;
  margin: 1%;
  width: 97%;
  height: 150px;
  padding: 4px;
  background-color: white;
  position: relative;
  box-shadow: 0 0 6px 0 hsl(0deg 0% 66% / 50%);
  border: 1px solid #e1e1e1;
}
/* .carImage{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        align-items: center;
        
    } */
.carDetails {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px 20px;
}

.carName {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  color: #33414f;
  margin: 0 0 10px 20px;
}

.discription_img {
  background-position: -25px 0;
  height: 20px;
  width: 20px;
}

.carFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  justify-content: flex-start;
  color: #8d97a1;
  font-size: 12px;
}
.carFlex div {
  margin-left: 10px;
}
.placeGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10px 10px;
  margin-top: 50px;
  grid-gap: 15px;
}
.booking {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33.3 33.3 33.3;
  grid-gap: 20px;
}

.booking .bookPrice {
  font-size: 30px;
  color: #70ad4d;
  font-weight: 600;
}

.bboking .km {
  font-size: 12px;
  color: #000;
  opacity: 0.54;
}
.bookCar {
  width: 112px;
  /* height: 32px;
        margin-top: 10px;
        padding: 6px 10px; */
  background-color: #70ad4d;
  color: #fff;
  outline: none;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  border-radius: 2px;
  cursor: pointer;
}

/* -------------know More----------------- */

.openKnowMore {
  margin-top: 0px;
  display: none;
}
.openKnowMore .priceGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 50px 25px;
  grid-gap: 5px;
}
.openKnowMore .priceGrid div {
  text-align: center;
}
.info {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #33414f;
  background-color: rgba(238, 90, 87, 0.1);
  padding: 15px 63px;
}
/* .info h6{
     margin-left: 30px;
     font-size: 16px;
     padding: 5px;
   } */
.policyGrid {
  display: grid;
  grid-template-columns: 131px 700px;
  grid-template-rows: 30px 65px 65px;
  grid-gap: 5px;
  margin-top: 10px;
  padding: 30px 50px;

  font-size: 14px;
  color: #33414f;
  padding: 15px 63px;
}

.policygridchild1 {
  font-size: 18px;
  text-align: left;
  color: #000;
}

.policygridchild2 {
  font-weight: 600;
  text-align: left;
  margin-right: 30px;
}
.knowMore {
  cursor: pointer;
  position: absolute;
  left: 495px;
  bottom: -5px;
  font-size: 10px;
  text-align: center;
  /* width: 100%; */
}

.knowMore .detailedKnowMore {
  padding: 8px;
  width: 125px;
  margin: auto;
  font-weight: 600;
  color: #4990e2;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.roadimg {
  border: 1px solid #ccc;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 5px auto;
}

.roadprice {
  font-size: 14px;
  font-weight: 600;
  color: #33414f;
}

.roadimgchild1 {
  text-align: center;
  font-size: 14px;
  color: #33414f;
}

.roadimgchild2 {
  opacity: 0.54;
  font-size: 12px;
  text-align: center;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
#pick_loca,
#drop_loca {
  font-size: 15px;
  text-transform: uppercase;
}
#pi_dt,
#dr_dt {
  font-size: 11px;
  text-transform: uppercase;
}
.bookPrice {
  display: flex;
  font-size: 30px;
  color: #70ad4d;
  font-weight: 600;
}
.bookPrice p {
  margin: 0%;
  padding: 0%;
  color: #70ad4d;
}
